In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import tushare as ts
import sqlite3
import yaml

from datetime import datetime as dt
from helpers.data_processing import (
    remove_ST_and_list_date,
    remove_non_tradable_stocks,
    save_to_db,
    read_from_db
)

In [3]:
sns.set_theme()

with open("../configs/environ.yml", "r") as rf:
    token = yaml.safe_load(rf)["token"]

pro = ts.pro_api(token)

In [4]:
today = dt.today().strftime("%Y%m%d")
hs300_start, hs300_end = "20240101", "20240131"
zz500_start, zz500_end = "20231201", "20231231"
db_filename = "data/stocks.db"
today

'20240131'

## 读取全部A股、沪深300和中证500

In [5]:
all_stocks = pro.stock_basic(ts_code="", list_status="L", fields="ts_code, symbol, name, list_status, list_date")
all_stocks

        ts_code  symbol     name list_status list_date
0     000001.SZ  000001     平安银行           L  19910403
1     000002.SZ  000002      万科A           L  19910129
2     000004.SZ  000004     国华网安           L  19910114
3     000005.SZ  000005     ST星源           L  19901210
4     000006.SZ  000006     深振业A           L  19920427
...         ...     ...      ...         ...       ...
5342  873703.BJ  873703     广厦环能           L  20231205
5343  873726.BJ  873726     卓兆点胶           L  20231019
5344  873806.BJ  873806      云星宇           L  20240111
5345  873833.BJ  873833     美心翼申           L  20231108
5346  689009.SH  689009  九号公司-WD           L  20201029

[5347 rows x 5 columns]

In [6]:
trade_info = pro.daily("", trade_date=today)
trade_info.head()

,ts_code,trade_date,open,high,low,close,pre_close,change,pct_chg,vol,amount
0,831834.BJ,20240130,5.90,6.03,5.71,5.99,5.90,0.09,1.5254,14196.31,8336.898
1,300655.SZ,20240130,7.67,7.75,7.38,7.41,7.67,-0.26,-3.3898,103407.29,78304.418
2,000931.SZ,20240130,5.18,5.20,5.01,5.03,5.25,-0.22,-4.1905,73566.76,37647.336
3,002136.SZ,20240130,10.36,10.36,9.84,9.87,10.34,-0.47,-4.5455,24603.00,24821.085
4,301314.SZ,20240130,35.37,35.98,33.99,34.11,36.00,-1.89,-5.2500,5237.80,18313.565

In [7]:
hs300 = pro.index_weight(index_code="399300.SZ", start_date=hs300_start, end_date=hs300_end)
hs300.rename(columns={"con_code": "ts_code"}, inplace=True)
hs300

    index_code    ts_code trade_date  weight
0    399300.SZ  600519.SH   20240102  6.1717
1    399300.SZ  601318.SH   20240102  2.4772
2    399300.SZ  300750.SZ   20240102  2.4139
3    399300.SZ  600036.SH   20240102  1.9907
4    399300.SZ  000333.SZ   20240102  1.5644
..         ...        ...        ...     ...
295  399300.SZ  601808.SH   20240102  0.0512
296  399300.SZ  300979.SZ   20240102  0.0471
297  399300.SZ  000800.SZ   20240102  0.0458
298  399300.SZ  601059.SH   20240102  0.0333
299  399300.SZ  001289.SZ   20240102  0.0176

[300 rows x 4 columns]

In [8]:
zz500 = pro.index_weight(index_code="000905.SH", start_date=zz500_start, end_date=zz500_end)
zz500.rename(columns={"con_code": "ts_code"}, inplace=True)
zz500

    index_code    ts_code trade_date  weight
0    000905.SH  300502.SZ   20231229   0.548
1    000905.SH  002422.SZ   20231229   0.537
2    000905.SH  002028.SZ   20231229   0.502
3    000905.SH  300418.SZ   20231229   0.498
4    000905.SH  600157.SH   20231229   0.477
..         ...        ...        ...     ...
495  000905.SH  688375.SH   20231229   0.045
496  000905.SH  603355.SH   20231229   0.040
497  000905.SH  603868.SH   20231229   0.038
498  000905.SH  688248.SH   20231229   0.033
499  000905.SH  600032.SH   20231229   0.027

[500 rows x 4 columns]

## 剔除ST、上市不到一年的A股

In [9]:
all_stocks_out = remove_ST_and_list_date(all_stocks, min_list_duration=365)
all_stocks_out

        ts_code  symbol     name list_status list_date
0     000001.SZ  000001     平安银行           L  19910403
1     000002.SZ  000002      万科A           L  19910129
2     000004.SZ  000004     国华网安           L  19910114
4     000006.SZ  000006     深振业A           L  19920427
6     000008.SZ  000008     神州高铁           L  19920507
...         ...     ...      ...         ...       ...
5331  873223.BJ  873223     荣亿精密           L  20220609
5332  873305.BJ  873305     九菱科技           L  20221221
5333  873339.BJ  873339     恒太照明           L  20221117
5334  873527.BJ  873527      夜光明           L  20221027
5346  689009.SH  689009  九号公司-WD           L  20201029

[4911 rows x 5 columns]

## 保留当日vol > 0的股票

In [10]:
all_stocks_out_final = remove_non_tradable_stocks(all_stocks_out, trade_info)
all_stocks_out_final.shape

(4910,)

In [11]:
hs300_final = remove_non_tradable_stocks(hs300, trade_info)
hs300_final.shape

(300,)

In [12]:
zz500_final = remove_non_tradable_stocks(zz500, trade_info)
zz500_final.shape

(500,)

## 保存数据到DB

In [13]:
table_names = {
    "A_share": all_stocks_out_final,
    "HS300": hs300_final,
    "ZZ500": zz500_final
}

In [14]:
for table_name, stock_series in table_names.items():
    save_to_db(today, stock_series, table_name, db_filename)

In [15]:
for table_name, stock_series in table_names.items():
    df_iter = read_from_db(table_name, db_filename)
    print(f"{table_name}:")
    print(df_iter)
    print("-" * 100)

A_share:
                      status  turnover_rate       pe      pb      total_mv  \
date       ts_code
2024-01-29 000001.SZ       1         1.2245   4.1356  0.4754  1.882374e+07
           000002.SZ       1         1.1787   5.3066  0.4746  1.200229e+07
           000004.SZ       1         9.2760      NaN  6.2164  1.972466e+05
           000006.SZ       1         7.6998  15.2173  0.8214  6.385477e+05
           000008.SZ       1         0.8795      NaN  1.4519  6.139014e+05
...                      ...            ...      ...     ...           ...
2024-01-30 873169.BJ       1            NaN      NaN     NaN           NaN
           873223.BJ       1            NaN      NaN     NaN           NaN
           873305.BJ       1            NaN      NaN     NaN           NaN
           873339.BJ       1            NaN      NaN     NaN           NaN
           873527.BJ       1            NaN      NaN     NaN           NaN

                      reversal_rate  volatility      roe  netprofit_yoy  \
date       ts_code
2024-01-29 000001.SZ       6.593407    1.210736   8.8025         8.1181
           000002.SZ      11.160221    1.979319   5.4970       -20.3112
           000004.SZ      10.288675    2.952883 -10.5105        37.9911
           000006.SZ      13.157895    2.368980  -0.0156      -100.6096
           000008.SZ       6.603774    1.438345  -3.3798        16.9767
...                             ...         ...      ...            ...
2024-01-30 873169.BJ            NaN         NaN      NaN            NaN
           873223.BJ            NaN         NaN      NaN            NaN
           873305.BJ            NaN         NaN      NaN            NaN
           873339.BJ            NaN         NaN      NaN            NaN
           873527.BJ            NaN         NaN      NaN            NaN

                       or_yoy  assets_yoy  equity_yoy  gross_profit_margin  \
date       ts_code
2024-01-29 000001.SZ  -7.6889      3.6620      9.5152             0.384278
           000002.SZ -14.0268     -6.2843      4.8945             0.097181
           000004.SZ  -4.3632    -12.7586    -64.3841            -0.511179
           000006.SZ -44.3017      7.0540      1.1767            -0.003876
           000008.SZ  38.1274     -1.4334    -15.9812            -0.106596
...                       ...         ...         ...                  ...
2024-01-30 873169.BJ      NaN         NaN         NaN                  NaN
           873223.BJ      NaN         NaN         NaN                  NaN
           873305.BJ      NaN         NaN         NaN                  NaN
           873339.BJ      NaN         NaN         NaN                  NaN
           873527.BJ      NaN         NaN         NaN                  NaN

                      net_profit_margin  operating_cash_flow_to_net_income  \
date       ts_code
2024-01-29 000001.SZ           0.310536                           2.924940
           000002.SZ           0.072431                           0.011191
           000004.SZ          -0.447629                           1.092715
           000006.SZ          -0.005073                           7.394542
           000008.SZ          -0.111782                           1.258608
...                                 ...                                ...
2024-01-30 873169.BJ                NaN                                NaN
           873223.BJ                NaN                                NaN
           873305.BJ                NaN                                NaN
           873339.BJ                NaN                                NaN
           873527.BJ                NaN                                NaN

                      operating_cash_flow_to_revenue  current_ratio  \
date       ts_code
2024-01-29 000001.SZ                        0.908300            NaN
           000002.SZ                        0.000811       1.371164
           000004.SZ                       -0.489131       2.408494
           000006.SZ                       -0.037514       1.897962
           000008.SZ                       -0.140689       0.837716
...                                              ...            ...
2024-01-30 873169.BJ                             NaN            NaN
           873223.BJ                             NaN            NaN
           873305.BJ                             NaN            NaN
           873339.BJ                             NaN            NaN
           873527.BJ                             NaN            NaN

                      cash_current_liability_ratio  cash_liability_ratio  \
date       ts_code
2024-01-29 000001.SZ                           NaN              0.022954
           000002.SZ                      0.000250              0.000190
           000004.SZ                     -0.221576             -0.213772
           000006.SZ                     -0.002459             -0.001562
           000008.SZ                     -0.031622             -0.027246
...                                            ...                   ...
2024-01-30 873169.BJ                           NaN                   NaN
           873223.BJ                           NaN                   NaN
           873305.BJ                           NaN                   NaN
           873339.BJ                           NaN                   NaN
           873527.BJ                           NaN                   NaN

                      long_term_liability_operating_cash_flow_ratio
date       ts_code
2024-01-29 000001.SZ                                            NaN
           000002.SZ                                     913.897419
           000004.SZ                                            NaN
           000006.SZ                                    -172.575652
           000008.SZ                                      -3.515134
...                                                             ...
2024-01-30 873169.BJ                                            NaN
           873223.BJ                                            NaN
           873305.BJ                                            NaN
           873339.BJ                                            NaN
           873527.BJ                                            NaN

[9821 rows x 20 columns]
----------------------------------------------------------------------------------------------------
HS300:
                      status  turnover_rate        pe      pb      total_mv  \
date       ts_code
2024-01-29 000001.SZ       1         1.2245    4.1356  0.4754  1.882374e+07
           000002.SZ       1         1.1787    5.3066  0.4746  1.200229e+07
           000063.SZ       1         1.9614   13.9881  1.7055  1.130282e+07
           000069.SZ       1         0.9994       NaN  0.4115  2.550758e+06
           000100.SZ       1         1.3600  305.4163  1.5251  7.981109e+06
...                      ...            ...       ...     ...           ...
2024-01-30 688363.SH       1            NaN       NaN     NaN           NaN
           688396.SH       1            NaN       NaN     NaN           NaN
           688561.SH       1            NaN       NaN     NaN           NaN
           688599.SH       1            NaN       NaN     NaN           NaN
           688981.SH       1            NaN       NaN     NaN           NaN

                      reversal_rate  volatility      roe  netprofit_yoy  \
date       ts_code
2024-01-29 000001.SZ       6.593407    1.210736   8.8025         8.1181
           000002.SZ      11.160221    1.979319   5.4970       -20.3112
           000063.SZ       3.323131    2.593025  12.5546        14.9733
           000069.SZ      12.274368    2.505699  -4.9970     -2728.1199
           000100.SZ       3.406326    1.720156   3.1287       474.1425
...                             ...         ...      ...            ...
2024-01-30 688363.SH            NaN         NaN      NaN            NaN
           688396.SH            NaN         NaN      NaN            NaN
           688561.SH            NaN         NaN      NaN            NaN
           688599.SH            NaN         NaN      NaN            NaN
           688981.SH            NaN         NaN      NaN            NaN

                       or_yoy  assets_yoy  equity_yoy  gross_profit_margin  \
date       ts_code
2024-01-29 000001.SZ  -7.6889      3.6620      9.5152             0.384278
           000002.SZ -14.0268     -6.2843      4.8945             0.097181
           000063.SZ  -3.4201      4.4786     15.6362             0.095274
           000069.SZ   8.4656     -0.7128    -18.6267            -0.094486
           000100.SZ   5.2122      8.1156     34.6174             0.046375
...                       ...         ...         ...                  ...
2024-01-30 688363.SH      NaN         NaN         NaN                  NaN
           688396.SH      NaN         NaN         NaN                  NaN
           688561.SH      NaN         NaN         NaN                  NaN
           688599.SH      NaN         NaN         NaN                  NaN
           688981.SH      NaN         NaN         NaN                  NaN

                      net_profit_margin  operating_cash_flow_to_net_income  \
date       ts_code
2024-01-29 000001.SZ           0.310536                           2.924940
           000002.SZ           0.072431                           0.011191
           000063.SZ           0.086772                           1.194049
           000069.SZ          -0.128012                          -0.581596
           000100.SZ           0.041834                           2.899196
...                                 ...                                ...
2024-01-30 688363.SH                NaN                                NaN
           688396.SH                NaN                                NaN
           688561.SH                NaN                                NaN
           688599.SH                NaN                                NaN
           688981.SH                NaN                                NaN

                      operating_cash_flow_to_revenue  current_ratio  \
date       ts_code
2024-01-29 000001.SZ                        0.908300            NaN
           000002.SZ                        0.000811       1.371164
           000063.SZ                        0.103610       1.996367
           000069.SZ                        0.074451       1.633208
           000100.SZ                        0.121284       1.185991
...                                              ...            ...
2024-01-30 688363.SH                             NaN            NaN
           688396.SH                             NaN            NaN
           688561.SH                             NaN            NaN
           688599.SH                             NaN            NaN
           688981.SH                             NaN            NaN

                      cash_current_liability_ratio  cash_liability_ratio  \
date       ts_code
2024-01-29 000001.SZ                           NaN              0.022954
           000002.SZ                      0.000250              0.000190
           000063.SZ                      0.125133              0.075755
           000069.SZ                      0.013161              0.007892
           000100.SZ                      0.177603              0.066153
...                                            ...                   ...
2024-01-30 688363.SH                           NaN                   NaN
           688396.SH                           NaN                   NaN
           688561.SH                           NaN                   NaN
           688599.SH                           NaN                   NaN
           688981.SH                           NaN                   NaN

                      long_term_liability_operating_cash_flow_ratio
date       ts_code
2024-01-29 000001.SZ                                            NaN
           000002.SZ                                     913.897419
           000063.SZ                                       4.310519
           000069.SZ                                      47.379979
           000100.SZ                                       8.083757
...                                                             ...
2024-01-30 688363.SH                                            NaN
           688396.SH                                            NaN
           688561.SH                                            NaN
           688599.SH                                            NaN
           688981.SH                                            NaN

[600 rows x 20 columns]
----------------------------------------------------------------------------------------------------
ZZ500:
                      status  turnover_rate       pe      pb      total_mv  \
date       ts_code
2024-01-29 000009.SZ       1         2.7460  26.7381  3.1411  3.092478e+06
           000021.SZ       1         1.4046  30.3568  1.8432  2.000673e+06
           000027.SZ       1         0.6414  13.7619  0.9924  3.025700e+06
           000031.SZ       1         0.6885      NaN  0.8625  1.277321e+06
           000039.SZ       1         1.1781  13.8363  0.9732  4.454222e+06
...                      ...            ...      ...     ...           ...
2024-01-30 688772.SH       1            NaN      NaN     NaN           NaN
           688778.SH       1            NaN      NaN     NaN           NaN
           688779.SH       1            NaN      NaN     NaN           NaN
           688819.SH       1            NaN      NaN     NaN           NaN
           689009.SH       1            NaN      NaN     NaN           NaN

                      reversal_rate  volatility     roe  netprofit_yoy  \
date       ts_code
2024-01-29 000009.SZ       8.212996    1.371302  7.1503        17.8938
           000021.SZ       5.081967    2.494400  4.2178       -22.3945
           000027.SZ       9.090909    1.577772  6.3947        70.4863
           000031.SZ      13.307985    2.411972 -3.3279      -654.5819
           000039.SZ       5.897436    1.682150  1.0280       -84.1039
...                             ...         ...     ...            ...
2024-01-30 688772.SH            NaN         NaN     NaN            NaN
           688778.SH            NaN         NaN     NaN            NaN
           688779.SH            NaN         NaN     NaN            NaN
           688819.SH            NaN         NaN     NaN            NaN
           689009.SH            NaN         NaN     NaN            NaN

                       or_yoy  assets_yoy  equity_yoy  gross_profit_margin  \
date       ts_code
2024-01-29 000009.SZ   9.0249     -3.8526     14.4643             0.078038
           000021.SZ  -8.6632     -3.6784      5.3642             0.063889
           000027.SZ   9.5813      8.4477      4.9638             0.142603
           000031.SZ -16.7338     -2.9073    -19.4423             0.047788
           000039.SZ -12.8366      7.3277      0.5091             0.026737
...                       ...         ...         ...                  ...
2024-01-30 688772.SH      NaN         NaN         NaN                  NaN
           688778.SH      NaN         NaN         NaN                  NaN
           688779.SH      NaN         NaN         NaN                  NaN
           688819.SH      NaN         NaN         NaN                  NaN
           689009.SH      NaN         NaN         NaN                  NaN

                      net_profit_margin  operating_cash_flow_to_net_income  \
date       ts_code
2024-01-29 000009.SZ           0.060773                           2.634901
           000021.SZ           0.051419                           1.401816
           000027.SZ           0.120921                           1.903957
           000031.SZ          -0.003621                         -98.473248
           000039.SZ           0.015258                          -0.976481
...                                 ...                                ...
2024-01-30 688772.SH                NaN                                NaN
           688778.SH                NaN                                NaN
           688779.SH                NaN                                NaN
           688819.SH                NaN                                NaN
           689009.SH                NaN                                NaN

                      operating_cash_flow_to_revenue  current_ratio  \
date       ts_code
2024-01-29 000009.SZ                        0.160132       1.866475
           000021.SZ                        0.072080       1.401481
           000027.SZ                        0.230228       1.177539
           000031.SZ                        0.356538       1.641300
           000039.SZ                       -0.014899       1.237399
...                                              ...            ...
2024-01-30 688772.SH                             NaN            NaN
           688778.SH                             NaN            NaN
           688779.SH                             NaN            NaN
           688819.SH                             NaN            NaN
           689009.SH                             NaN            NaN

                      cash_current_liability_ratio  cash_liability_ratio  \
date       ts_code
2024-01-29 000009.SZ                      0.232471              0.130982
           000021.SZ                      0.074185              0.055742
           000027.SZ                      0.202407              0.070665
           000031.SZ                      0.079311              0.045976
           000039.SZ                     -0.020803             -0.015433
...                                            ...                   ...
2024-01-30 688772.SH                           NaN                   NaN
           688778.SH                           NaN                   NaN
           688779.SH                           NaN                   NaN
           688819.SH                           NaN                   NaN
           689009.SH                           NaN                   NaN

                      long_term_liability_operating_cash_flow_ratio
date       ts_code
2024-01-29 000009.SZ                                       2.292089
           000021.SZ                                       3.776799
           000027.SZ                                       5.422544
           000031.SZ                                       7.099577
           000039.SZ                                     -13.736117
...                                                             ...
2024-01-30 688772.SH                                            NaN
           688778.SH                                            NaN
           688779.SH                                            NaN
           688819.SH                                            NaN
           689009.SH                                            NaN

[1000 rows x 20 columns]
----------------------------------------------------------------------------------------------------